.my-account {
   .contact-form {
      margin: 0;
   
      .form-edit{
         border-bottom: 1px solid $line-color;
      }
   
      .form-heading {
         font-size: 1.4rem;
         font-weight: $font-m;
         margin-bottom: 2.5rem;
         text-transform: capitalize;
      }
   
      &:not(:first-child)>.form-heading {
         margin-top: 2.5rem !important;
      }
   }
}