.page-error {
   height: 100vh;
   
   h1 {
      font-size: 12.5rem;
      @include small {
         font-size: 10rem;
      }
   }
   p {
      font-size: 1.25rem;
      margin: 1.5rem ;
   }
   small {
      font-weight: $font-r;
      margin-bottom: 3rem;
   }
}